* {
    margin: 0;
    padding: 0;
    background-color: #68b7d1;
    box-sizing: border-box;
}

.logo {
    height: 100px;
    width: 120px;
}

.principal-Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.PessoasI {
    height: 300px;
    width: 300px;
    margin-top: 50px;
}

.paragrafo-Intro {
    margin-top: 40px;
    text-align: center;

}